on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
    - name: Install PlatformIO
      run: pip install platformio
    - name: Run tests on the native platform
      run: platformio test -e native
